@CHARSET "ISO-8859-1";
@import 'insert.css';
@import 'photo_gallery.css';

.box div input[name = "bikePrice"]
, .box div input[name = "bikePower"]
, .box div select[name = "bikeClr"]
, .box div input[name = "bikeKM"]{
	width: 49%;
}

.box div select[name = "bikePriceType"]
, .box div select[name = "bikePowerType"]
, .box div select[name = "bikeKMType"]{
	width: 40%;
}

.box div select[name = "bikeClr"]{
	width: 60%;
}

input, textarea, select, option{
	padding: 0.15em;
	vertical-align: middle;
}

